{% extends 'base.html.twig' %}
{% block stylesheets %} 
    <link href="{{ asset('css/table.css') }}" rel="stylesheet"/> 
{% endblock %}

{% block body %}
    <h2>Clientes</h2>
    <table>
        <thead>
            <tr>
                <th>Razão Social</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Cnpj</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.cnpj }}</td>
                <td>
                    <p class="bt">
                        <a href="{{ path('cliente_show', {'id': cliente.id}) }}">Mostrar</a>
                        <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a>
                    </p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Clientes não encontrado!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    <p class="link">
        <a href="{{ path('cliente_new') }}">Cadastrar</a>
    </p>
{% endblock %}

