{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razão Social</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Cnpj</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.cnpj }}</td>
                <td>
                    <a href="{{ path('cliente_show', {'id': cliente.id}) }}">Mostrar</a>
                    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Clientes não encontrado!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    <a href="{{ path('cliente_new') }}">Cadastrar</a>
{% endblock %}

