{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}
{% block stylesheets %} 
    <link href="{{ asset('css/table.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>  
{% endblock %}

{% block body %}
    <h2>Cliente</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Razao Social</th>
                <td>{{ cliente.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cliente.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ cliente.telefone }}</td>
            </tr>
            <tr>
                <th>Cnpj</th>
                <td>{{ cliente.cnpj }}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="link">
        <a href="{{ path('cliente_index') }}">Voltar</a>
        <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a>
    </div>
    
    
{% endblock %}
